body{
	background-image: url("../images/stringbackground.png");
	background-color: grey;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
td{
	background-color: gray;
	color: white;
}

h2{ 
    align-items: center;
	font-size: 14em;
	font-family: "Minecraft Ten";
	transform-origin: bottom left;
	color: transparent;
	text-shadow:
	
	1px -2px 18px rgba(255,255,255,0.4),
	0px -2px 18px rgba(255,255,255,0.4),
	-1px -2px 18px rgba(255,255,255,0.4),
	
	0px -2px 3px #fff,
	-1px -2px 3px #fff,
	-2px -2px 3px #fff,
	
	-1px -3px 3px #fff,
	-2px -3px 3px #fff,
	-3px -3px 3px #fff,
	
	-2px -4px 2px #fff,
	-3px -4px 2px #fff,
	-4px -4px 2px #fff,
	
	-3px -5px 1px #fff,
	-4px -5px 1px #fff,
	-5px -5px 1px #fff;
}

p{
	font-size: 3em;
	font-family: "Minecraft";
    background-color: rgba(255,255,255,0.5);
}
a{
	
	font-size: 2.1em
}
a:link{
	color:white;
}
a:active {
	color:#a6a6a6;
}
button {
	width: 10em;
	height: 5em;
	box-shadow: 5px 5px 5px black;
}
button:hover{
	background-color:white;
}
button:active{
	background-color:grey;
}
footer{
	font-family: "Minecraft";
	color: rgba(255,255,255,0.5);
}
